header{
  background-image:url(./img/asphalt.jpg);
  text-shadow: 1px 1px 0 #000,
  -1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
  padding:140px 50px;
}



header,main,footer{
  font-family: 'Raleway','メイリオ', sans-serif;
}

main .profile{
  list-style-type: none;
  text-align:left;
  display:inline-block;
  font-size:130%
}
