button, a {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 10px 0;
  padding: 0px;
  height: 50px;
  border-width: 0;
  font-family: sans-serif;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  line-height: 50px;
  cursor: pointer;
  font-size: 100%;
}
button {
  #width:0px;
  overflow: visible;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.option-button {
  width: 25%;
  margin-left: 16px;
  height: 60px;
  font-size: 1em;
  border-radius: 8px;
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.6));
}

.option-button:focus {
  background-color: #222;
  color: #ddd;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
}

h3{
  margin:0;
}

body{
  margin:0;
}

.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    margin:0 auto;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 20px;
    position: absolute;
    margin:0 auto;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;

}

.thumbnail{
  width:100%;
  height:auto;
  text-align:center;
  margin:5px;
}

.image_picker_image{
  width:100%;
  text-align:center;
}

ul{
  text-align:center;
  margin:auto;
}

li{
  width:25%;
  float:left;
  margin:0;
  /* display:inline-block; */
}
